<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include ../views/partials/_header.ejs%>
    <% for (var shorturl in userUrls) { %>
      <% var urlObject = userUrls[shorturl]; %>
      <div style="padding-top: 15px">
        <a href="/u/<%= shorturl %>">http://tiny.app/u/<%= shorturl %></a>
        <%= urlObject.longurl %>
        <a href="/urls/<%= shorturl %>">Edit</a>
        <form method="POST" action="/urls/<%= shorturl %>/delete">
        <button name="Delete url">Delete the URL</button>
        </form>
      </div>
      <% } %>
    <p>
    <a href="/urls/new">Create a new url</a>
    </p>
  </body>
</html>
