<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include ../views/partials/_header.ejs%>
    <% for (var shorturl in userUrls) { %>
      <% var urlObject = userUrls[shorturl]; %>
      <div style="padding-top: 15px">
        <a href="/u/<%= shorturl %>">http://tiny.app/u/<%= shorturl %></a>
        <%= urlObject.longurl %>
        <a href="/urls/<%= shorturl %>">Edit</a>
        <form method="POST" action="/urls/<%= shorturl %>/delete">
        <button name="Delete url">Delete the URL</button>
        </form>
      </div>
      <% } %>
    </div>
    <p>
    <a href="/urls/new">Create a new url</a>
    </p>
  </body>
</html>

<!--

<div>
  <label style="margin-right: 30px" for="login">Please enter your email</label>
  <input type="email" name="email" placeholder="your@domain.com" style="width: 300px">
</div>
<div>
  <label for="login">Please enter your password</label>
  <input type="password" name="password" placeholder="password" style="width: 300px">
</div>
<button type="submit">Login</button> -->
